
<div class="card-body ">
   <%= simple_form_for(@contact) do |f| %>
   <%= f.error_notification %>
   <div class="form-group">
      <div class="row">
         <div class="col-md-4">
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class=" fa fa-home pr-2"></i></span>
               </div>
               <div class="col-md-11">
                                  <%= f.input :prefix, class: '' %>

               </div>
            </div>
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class="fa fa-phone pr-2 white-text"></i></span>
               </div>
               <div class="col-md-11">
                  <%= f.input :first_name, class: '' %>
               </div>
            </div>
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class="fa fa-fax pr-2 white-text"></i></span>
               </div>
               <div class="col-md-11">
                  <%= f.input :cell %>
               </div>
            </div>
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class="fa fa-truck pr-2"></i></span>
               </div>
               <div class="col-md-11">
                  <%= f.input :middle_intial, class: '' %>

                  </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class="fa fa-user-secret pr-2"></i></span>
               </div>
               <div class="col-md-11">
                  <%= f.input :last_name, class: '' %>
               </div>
            </div>
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class="fa fa-user-plus pr-2"></i></span>
               </div>
               <div class="col-md-11">
                  <%= f.input :bussiness_email, class: ' input-full' %>
               </div>
            </div>
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class="fa fa-barcode pr-2"></i></span>
               </div>
               <div class="col-md-11">
                  <%= f.input :title, class: '' %>
               </div>
            </div>
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class="fa fa-calendar pr-2"></i></span>
               </div>
               <div class="col-md-11">
               <%= f.input :extra_email %>

             </div>


                <div class=" back-link mt-4">
                  <%= link_to 'Back', contacts_path, class: "pull-right" %>
                </div>


          </div>
         </div>





          <div class="col-md-4">
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class="fa fa-user-secret pr-2"></i></span>
               </div>
               <div class="col-md-11">
                       <%= f.input :phone %>
               </div>
            </div>
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class="fa fa-user-plus pr-2"></i></span>
               </div>
               <div class="col-md-11">
                  <%= f.input :user_id %>
               </div>
            </div>
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class="fa fa-barcode pr-2"></i></span>
               </div>
               <div class="col-md-11">
                  <%= f.input :category_id %>
               </div>
            </div>
            <div class="row mb-2">
               <div class="col-md-1">
                  <span><i class="fa fa-calendar pr-2"></i></span>
               </div>
               <div class="col-md-11">
                  <%= f.input :company_id %>


             </div>
             <div class="col-md-12 mr-0 ml-0">
                  <button type="submit" class="btn  btn-round btn-block mt-4 ml-0   mr-0 mr-0 btn-primary">Submit</button>

                  </div>
            </div>

         </div>

      </div>
   </div>
   <% end %>
</div>

