<%= render '/layouts/sidebar'  %>
<%= render 'layouts/navigation'  %>
<div class="container-8 cool-blue-text">
<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Prefix</th>
      <th>First name</th>
      <th>Middle intial</th>
      <th>Last name</th>
      <th>Title</th>
      <th>Cell</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Bussiness email</th>
      <th>Personal email</th>
      <th>Extra email</th>
      <th>User</th>
      <th>Category</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.prefix %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.middle_intial %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.title %></td>
        <td><%= contact.cell %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.fax %></td>
        <td><%= contact.bussiness_email %></td>
        <td><%= contact.personal_email %></td>
        <td><%= contact.extra_email %></td>
        <td><%= contact.user_id %></td>
        <td><%= contact.category_id %></td>
        <td><%= contact.company_id %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
</div>
