<%= render '/layouts/sidebar'  %>
<%= render 'layouts/navigation'  %>
<div class="container-8">

<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
</div>
