<%= render '/layouts/sidebar'  %>
<%= render 'layouts/navigation'  %>
<div class="container-8">
<p id="notice"><%= notice %></p>

<h1>Touches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Way of contact</th>
      <th>Success</th>
      <th>Date touched</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @touches.each do |touch| %>
      <tr>
        <td><%= touch.name %></td>
        <td><%= touch.way_of_contact %></td>
        <td><%= touch.success %></td>
        <td><%= touch.date_touched %></td>
        <td><%= link_to 'Show', touch %></td>
        <td><%= link_to 'Edit', edit_touch_path(touch) %></td>
        <td><%= link_to 'Destroy', touch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Touch', new_touch_path %>
</div>
