<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Total in list</th>
      <th>Followed ups</th>
      <th>Call backs</th>
      <th>User</th>
      <th>Todo</th>
      <th>Company</th>
      <th>Project</th>
      <th>Assigned to</th>
      <th>Campaignable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= campaign.type %></td>
        <td><%= campaign.total_in_list %></td>
        <td><%= campaign.followed_ups %></td>
        <td><%= campaign.call_backs %></td>
        <td><%= campaign.user %></td>
        <td><%= campaign.todo %></td>
        <td><%= campaign.company %></td>
        <td><%= campaign.project %></td>
        <td><%= campaign.assigned_to %></td>
        <td><%= campaign.campaignable %></td>
        <td><%= link_to 'Show', campaign %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path %>
